<h2>What is ExpressQuiz?</h2>

<p>A free online quiz engine. </p>

<h2>Goal</h2>

<p>To provide a serious quiz service with a clean and simple UI in a collaborative community based environment. Promote sharing of knowledge, with competitive elements.</p>

<h2>Features</h2>

<ul>
    <li>
        Free
    </li>
    <li>
        Facebook login or custom login.
    </li>
    <li>
        Keeps track of scores, times, ratings, attempts and other stats.
    </li>
    <li>
        Users can create new, or improve existing quizzes.

    </li>
    <li>
        Upvoting, downvoting and rating.
    </li>
   
</ul>