@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ExpressQuiz</h1>
    <p class="lead">ExpressQuiz is a free online quiz engine</p>
    <p>
        @Html.ActionLink("Learn more", "About", "Home")

    </p>
    <div class=" text-center">@Html.ActionLink("Go to quizzes", "Index", "Quizzes", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-success" })</div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Do you think that existing online quizzes suck?<br/>
            Do you think they are slow and ugly?<br />
            Do you think they are funny but not fun to take?<br />
            Do you believe in free knowledge sharing?<br />
        </p>
        <p>@Html.ActionLink("Yes, yes, yes and YES", "Index", "Quizzes")</p>
    </div>
    <div class="col-md-4">
        <h2>Create and Share</h2>
        <p>Why keep knowledge to yourself? Create your own quizzes and share them with the rest of the world!</p>
        <p>@Html.ActionLink("Show me how", "Create", "Quizzes")</p>
    </div>
    <div class="col-md-4">
        <h2>Source</h2>
        <p>Use, modify, or contribute.</p>
        <p><a class="btn btn-primary" href="https://github.com/balanikas/ExpressQuiz">Github</a></p>
    </div>
</div>