@model IEnumerable<ExpressQuiz.Models.QuizCategory>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="list-group">
        @foreach (var category in Model)
        {
            @Html.ActionLink(@category.Name, "Index", new { catId = category.Id }, new { @class = "list-group-item" })
        }
    </div>
</div>