
@model IEnumerable<ExpressQuiz.Models.Quiz>

<div id="quizList" class="list-group">

    @foreach (var item in Model)
    {
        <a href="/Quizzes/Details/@item.Id" class="list-group-item">
            <h4 class="list-group-item-heading">@item.Name</h4>
            <p class="list-group-item-text">@item.Summary</p>


        </a>
    }


</div>