@model IEnumerable<ExpressQuiz.Models.Quiz>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Top list</h3>
    </div>
    <div class="list-group">
        @foreach (var quiz in Model)
        {
            @Html.ActionLink(quiz.Name, "Details", new { id = quiz.Id }, new { @class = "list-group-item" })
        }
    </div>
</div>
