@model ExpressQuiz.ViewModels.EditQuizViewModel

@Scripts.Render("~/Scripts/jquery.tablednd.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<h2>Edit</h2>
<hr/>
<div id="content">
    @{
        Html.RenderPartial("_EditQuizPartial", Model);
    }
</div>
  <hr/>

@*<div>
    @Html.ActionLink("Back to quiz list", "Index")
    
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



