@model ExpressQuiz.ViewModels.PublicUserProfileViewModel

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            This is the public profile of user @Model.UserName 
        </div>
    </body>
</html>