@model ExpressQuiz.ViewModels.PublicUserProfileViewModel

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
           @Model.UserName public profile
        </div>
    </body>
</html>