@model IEnumerable<ExpressQuiz.Models.QuizResult>

@if (Model.Any())
{
    <br/>
    <h4>Latest attempts</h4>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>User</th>
                <th>Score</th>


            </tr>
        </thead>

        <tbody>

            @{

    foreach (var r in Model)
    {

        <tr>


            <td>@r.UserId</td>
            <td>@r.Score</td>
        </tr>

    }
            }


        </tbody>
    </table>
}
