@model IEnumerable<ExpressQuiz.ViewModels.QuizResultViewModel>

@if (Model.Any())
{
    <br/>
    <h4 class="text-center">Best players</h4>
    <table id="quizUsers" class="table-hover table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Score</th>
                <th>Time</th>

            </tr>
        </thead>

        <tbody>

            @{

    foreach (var r in Model)
    {

        <tr>
           

            <td>@Html.ActionLink(r.UserId, "Index", "UserProfile", new { id = r.UserId, profileView = 0}, htmlAttributes: null)</td>
            <td>@r.Score</td>
            <td>@r.EllapsedTime</td>
        </tr>

    }
            }


        </tbody>
    </table>
}

<script>
    
    $(function() {
        $('#quizUsers').dataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false
        });
    })
</script>